.tile-input {
    font-weight: bold;
    background-color: black;
    color: wheat;
    border: 2px solid wheat;
}
.tile-empty {
    font-weight: bold;
    background-color: dimgrey;
    border: 2px solid grey;
}
