.tile-full-hit {
    font-weight: bold;
    background-color: darkgreen;
    color: white;
}
.tile-partial-hit {
    font-weight: bold;
    background-color: darkgoldenrod;
    color: white;
}
.tile-not-hit {
    font-weight: bold;
    background-color: dimgray;
    color: white;
}
