@using EverythingInCSharp.Muddle.Game
<div Class=@("tile " + GetCssClass())>@Letter</div>

@code {
    [Parameter]
    public char Letter { get; set; }

    [Parameter]
    public MatchResult MatchResult { get; set; }

    private string GetCssClass() {
        return MatchResult switch {
            MatchResult.FullHit => "tile-full-hit",
            MatchResult.CharHit => "tile-partial-hit",
            MatchResult.NoneHit => "tile-not-hit",
            _ => throw new ArgumentOutOfRangeException()};
    }
}
