
.letter-box-row {
    display: flex !important;
    justify-content: center !important;
    width: 100%;
    min-width: 400px;
}
.input-row {
    display: flex !important;
    justify-content: center !important;
    width: 100%;
}
