@using EICS.WordleBlazor.Game

<div Class=@("tile " + GetCssClass())>@Letter</div>

@code {
    [Parameter]
    public char Letter { get; set; }

    private string GetCssClass() {
        return Letter switch {
            ' ' => "tile-empty",
            _ => "tile-input"
            };
    }
}
